/* Admin GUI styles */

body.login {
    background-image: url("../img/im2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.text-line-through {
    text-decoration: line-through;
}

/* AJAX - LOADER http://ajaxload.info/
   Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal-loader {
    display:    none;
    position:   fixed;
    z-index:    10350;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .3 )
    url('../img/Infinity-1s-200px.svg')
    50% 50%
    no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .modal-loader {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal-loader {
    display: block;
}

/* AJAX - LOADER FINISH */
